---
---

<h2 class="text-xl font-semibold text-zinc-800 mb-4">
    Destinos:
</h2>

<div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- El primero con degradado azul -->
        <a href="/buenaventura" class="group ease-in-out duration-700">
            <div class="bg-gradient-to-r from-cyan-500 to-blue-500 rounded-md h-[120px] relative flex items-center pl-3 group-hover:shadow-lg group-hover:bg-gradient-to-r group-hover:from-zinc-100 group-hover:to-white group-hover:border-blue-500 border-2 ease-in-out duration-700">
                <h3 class="text-2xl font-semibold text-zinc-200 w-10/12 text-pretty group-hover:text-blue-500 ease-in-out duration-500">
                    Experiencias en Buenaventura
                </h3>
                <div class="w-[40px] h-[40px] bg-white rounded-full absolute -right-2 -top-2"> </div>
                <div>
                    <img src="/ballena.png" alt="Ballena Icon" class="w-[50px] h-[50px] object-cover absolute -right-2 -top-2" />
                </div>
            </div>
        </a>
        <!-- El segundo con degradado naranja -->
        <a href="/destacados" class="group ease-in-out duration-700">
            <div class="bg-gradient-to-r from-yellow-500 to-orange-500 rounded-md h-[120px] relative flex items-center pl-3 group-hover:shadow-lg group-hover:bg-gradient-to-r group-hover:from-zinc-100 group-hover:to-white group-hover:border-orange-500 border-2 ease-in-out duration-700">
                <h3 class="text-2xl font-semibold text-zinc-200 w-10/12 text-pretty group-hover:text-orange-500 ease-in-out duration-500">
                    Destacados de temporada
                </h3>
                <div class="w-[40px] h-[40px] bg-white rounded-full absolute -right-2 -top-2"> </div>
                <div>
                    <img src="/playa.png" alt="Playa Icon" class="w-[50px] h-[50px] object-cover absolute -right-2 -top-2" />
                </div> 
            </div>
        </a>
        <!-- El tercero con degradado rojo -->
        <div class="bg-gradient-to-r from-red-500 to-pink-500 rounded-md h-[120px] relative flex items-center pl-3">
            <h3 class="text-2xl font-semibold text-zinc-200 w-8/12">
                Planes nacionales
            </h3>
            <div class="w-[40px] h-[40px] bg-white rounded-full absolute -right-2 -top-2"> </div> 
            <div>
                <img src="/colombia.png" alt="Colombia Icon" class="w-[50px] h-[50px] object-cover absolute -right-2 -top-2" />
            </div>
        </div>
        <!-- El cuarto con degradado verde -->
        <div class="bg-gradient-to-r from-green-500 to-lime-500 rounded-md h-[120px] relative flex items-center pl-3">
            <h3 class="text-2xl font-semibold text-zinc-200 w-8/12">
                Planes internacionales
            </h3>
            <div class="w-[40px] h-[40px] bg-white rounded-full absolute -right-2 -top-2"> </div>
            <div>
                <img src="/avion.png" alt="Avion Icon" class="w-[50px] h-[50px] object-cover absolute -right-2 -top-2" />
            </div> 
    </div>
</div>